.Rproj.user
.Rhistory
.DS_Store
TEMP/
tests/example-stanfit1--42-TRUE-TRUE.rds
tests/example-stanfit1-mvg_conj_sufficient_stats_lapse_cholesky-42-TRUE-FALSE.rds
tests/example-stanfit1-mvg_conj_sufficient_stats_lapse_cholesky-42-TRUE-TRUE.rds
tests/example-stanfit2-mvg_conj_sufficient_stats_lapse-42-TRUE-FALSE.rds
tests/example-stanfit2-mvg_conj_sufficient_stats_lapse_cholesky-42-TRUE-FALSE.rds
tests/example-stanfit2-mvg_conj_sufficient_stats_lapse_cholesky-42-TRUE-TRUE.rds
tests/example-stanfit3-mvg_conj_sufficient_stats_lapse_cholesky-42-TRUE-FALSE.rds
tests/example-stanfit3-mvg_conj_sufficient_stats_lapse_cholesky-42-TRUE-TRUE.rds
